* {
    font-family: 'Roboto', sans-serif;
}

html {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url(../img/people.jpg) no-repeat center center fixed;
    -webkit-background-size: 115%;
    -moz-background-size: 115%;
    -o-background-size: 115%;
    background-size: 115%;
    margin: 0;
    padding: 0;
}

.sub-text {
    color: #999;
}

body {
    margin: 50px;
}

h1 {
    margin: 12% 0px 25px 0px;
    font-weight: 700;
    font-size: 40pt;
    color: #fff;
}

.event-desc {
    display: block;
    max-width: 681px;
    line-height: 1.5em;
    font-size: 16pt;
}

form {
    display: block !important;
    margin: 20px 20px 0px 20px !important;
    padding: 0px !important;
}

form #mc_embed_signup_scroll .clear input {
    transform: translateY(-6px);
}

form #mc_embed_signup_scroll .mc-field-group {
    min-height: inherit !important;
}

#mce-responses {
    font-weight: normal !important;
    position: relative;
    top: 0.3em !important;
}

#mce-responses #mce-error-response {
    color: #cc0000 !important;
}

#mce-responses #mce-error-response a {
    color: #cc0000 !important;
}

#mc_embed_signup_scroll div {
    display: inline-block;
}

#mc_embed_signup_scroll .mc-field-group {
    width: auto !important;
    padding: 0 !important;
}

#mc_embed_signup .button {
    line-height: inherit !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border-color: #888 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background: none;
    color: #cc0000;
}

#mce-responses {
    font-size: 14px;
    padding: 0 !important;
    margin: 0 !important;
}

#mce-responses .response {
    margin: 0 !important;
    padding: 0 !important;
}

#mce-success-response {
    font-size: 14px;
    padding: 0;

}

input {
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
    padding: 8px !important;
    font-size: 10pt !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    outline: none !important;
}

input[ type=email ] {
    width: auto !important;
    height: auto !important;
    border-color: #888 ;
    color: #fff !important;
    background: transparent !important;
}

input[ type=submit ] {
    background: #00CDAC !important;
    color: #fff !important;
    border-color: #00CDAC !important;
    margin: 0px 0px 0px 10px !important;
    line-height: inherit;
    padding: 8px !important;
}

@media only screen and (max-width: 450px) {
    form {
        margin: 20px 0 !important;
    }
}

@media only screen and (max-width: 410px)  {
    input[ type=submit ] {
        margin: 10px 0px !important;
    }
}

input[ type=submit ]:hover {
    cursor: pointer !important;
}

.sponsors {
    font-size: 13pt;
    color: #fff;
    line-height: 1.5em;
}

footer {
    font-size: 10pt;
    letter-spacing: 0.02em;
}

footer .social a i {
    text-decoration: none;
    color: #999;
    margin-right: 10px;
    font-size: 14pt;
    transition-duration: 0.2s;
}

footer .social a i:hover {
    color: #bcbcbc;
}

footer p {
    white-space: pre-wrap;
    line-height: 1.5em;
}
