@font-face {
    font-family: brandon_reg;
    src: url(../fonts/Brandon_reg.otf);
    font-weight: normal;
}

@font-face {
    font-family: brandon_bld;
    src: url(../fonts/Brandon_bld.otf);
    font-weight: bold;
}

@font-face {
    font-family: adobe_caslon_reg;
    src: url(../fonts/adobe_caslon_reg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: adobe_caslon_bld;
    src: url(../fonts/adobe_caslon_bld.ttf);
    font-weight: normal;
}

@font-face {
    font-family: avenir_next;
    src: url(../fonts/avenir_next.ttc);
    font-weight: bold;
}

* {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #05AFB3;
}

@media (min-width: 768px) {
    .navbar {
        width: 50%;
        border-color: #fff;
        border: 2px solid #fff;
        border-top: none;
        border-radius: 0px 0px 24px 24px;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-nav li {
        margin: 24px 0px;
    }
}

.navbar {
    background: #05AFB3;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav li a {
    background-color: transparent;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding: 0;
    margin: 0;
}

.navbar-nav li a:hover {
    cursor: pointer;
}

.navbar-nav li a:visited,
.navbar-nav li a:focus {
}

.navbar-nav li a:hover,
.navbar-nav li a:active {
    color: #D3D3D3;
    background: none !important;
}

.navbar-nav li a #separator {
    margin: 0px 15px;
}

.head {
    margin-top: 100px;
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 300;
}

.head h1 {
    font-weight: 300;
}

.head b {
    font-weight: 400;
}

#head-img {
    width: 225px;
    height: auto;
}

#skyline {
    display: block;
    margin-bottom: 100px;
}

.head-desc {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}

.section-desc {
    text-align: center;
    font-size: 17px;
}

.section-desc a,
.section-desc a:hover,
.section-desc a:active,
.section-desc a:visited {
    color: red;
}

.buttons {
    margin: 40px 0px 20px 0px;
    text-align: center;
    display: block;
    width: 100%;
}

.buttons a {
    display: inline-block;
    width: 20%;
    border: 2px solid #fff;
    padding: 5px 20px;
    background-color: transparent;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

.buttons #attendButton {
    margin-right: 10%;
}

.buttons a:hover, .button a:active {
    background-color: #fff;
    color: #05AFB3;
    text-decoration: none;
}

@media (max-width: 648px) {
    .buttons a {
        padding:
    }
}

@media (max-width: 992px) {

}

section {
    width: 85%;
    display: block;
    margin: 0 auto;
}

.section-header {
    font-weight: 400 !important;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
}
.schedule {
    width: 60%;
    font-size: 24px;
}

#line {
    display: block;
    border-top: 2px solid #fff;
}

.schedule table {
    width: 100%;
}

.schedule table tr td {
    font-size: 24px;
}
.schedule table tr td:first-child {
    text-align: left;
}

.schedule table tr td:nth-child(2) {
    text-align: right;
}
.faq {
}
.faq center {
    font-size: 18px;
}
.faq center div p {
    text-align: left;
}
.faq center .block {
    margin-bottom: 20px;
}

.sponsors center p{
    text-decoration: none;
    margin-bottom: 100px;
}

.sponsors .sponsors-img,
.sponsors .partners-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.sponsors .sponsors-img img {
    margin: 5px 0px;
}

.sponsors {
    width: 100%;
    padding: 5%;
    background: #fff;
    margin-bottom: 5%;
}

.sponsors .section-header,
.sponsors .section-desc {
    color: #05AFB3;
}

footer {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.col-header {
    font-size: 20px;
}

.col-line {
    font-size: 17px;
}

.col-line i {
    margin-right: 4px;
}

#address {
    margin-left: 10px;
}
