* {
    font-family: "Roboto", sans-serif;
}

input, button, submit {
    border:none;
}

html {
    margin: 0;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ), url(../img/hero-new.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent !important;
    text-align: right;
}

.hero {
    margin-right: 100px;
}

.hero #title {
    font-size: 72px;
    margin: 0px;
    color: white;
    letter-spacing: .01em;
    font-weight: 300;
}

.hero #subtitle {
    font-size: 28px;
    margin: 0px;
    color: white;
    letter-spacing: .02em;
    font-weight: 300;
}

.hero .page-directs {
    display: block;
}

.hero .page-directs,
.hero .page-directs a {
    color: #aaa;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}

.hero .btn-register {
    
}
