@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Book.otf') format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Medium.otf') format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Circular Std";
    src: url('../fonts/CircularStd-Bold.otf') format("opentype");
    font-style: normal;
    font-weight: bold;
}

* {
    font-family: "Circular Std";
    font-weight: 300;
}

body {
    color: #fff;
}

a:hover {
    text-decoration: none !important;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: rgb(187,188,200);
    margin-bottom: 20px;
}

#hero {
    padding-top: 5vh;
    background-color: #171f31;
    color: #fff;
    text-align: center;
    height: 100vh;
    position: relative;
    z-index: 10;
}

#hero * {
    z-index: 10;
    position: relative;
    overflow: hidden;
}

#hero:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

#hero #logo {
    display: block;
    margin: 0 auto;
    height: 280px;
    margin-bottom: 3vh;
}

#hero #branding {
    font-size: 4.2em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#hero #triangle {
    position: relative;
    height: 800px;
    overflow: hidden;
    top: -450px;
    text-align: center;
}

#hero #tri0 {
    position: absolute;
    top: 5vh;
    left: 5vw;
}

#hero #tri1 {
    position: absolute;
    top: -40vh;
    left: -5vw;
}

#hero #tri4 {
    position: absolute;
    top: 8vh;
    left: 22vw;
}

#hero #tri5 {
    position: absolute;
    top: -11vh;
    left: 16vw;
}

#hero #tri6 {
    position: absolute;
    top: -5vh;
    left: 70vw;
}

#hero #tri7 {
     position: absolute;
     top: -24vh;
     left: 80vw;
 }

#hero .date {
    font-size: 20px;
    margin-top: 500px;
    position: relative;
    text-align: center;
}

.navbar {
    padding-left: 8rem;
    background: #49587A;
}


.navbar-nav .nav-item {
    margin: 0 7px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active,
.navbar-nav .nav-item .nav-link:focus {
    color: #fff !important;
}

#day-of-info-btn {
    display: block;
    text-transform: uppercase;
    padding: 11px 30px;
    background: #FB627A;
    font-weight: 700 !important;
    letter-spacing: 1px;
    font-size: 14px;
    width: 160px;
    text-align: center;
    margin: 10px auto 0px auto;
    color: #fff;
    border-radius: 4px;
}

#day-of-info-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #FB627A;
}

.content {
    padding: 145px 0 90px 0;
}

.content div {
    display: block;
}

.content div .section-header {
    font-weight: 700;
    margin-bottom: 1em !important;
    font-size: 46px;
}

/*****
ABOUT
*****/
.content.about {
    background: #2a3b59;
    position: relative;
    z-index: 9;
}

.content.about div > * {
    width: 760px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .content.about div > * {
        width: 85%; 
        margin: 0 auto;
    }
}

.content.about:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.content.about .description {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    color: #e4e5ea;
    font-weight: 300;
}

/*****
JOIN US
*****/

.content.join {
    background: #4a4e6c;
    position: relative;
    z-index: 8;
}

.content.join > div {
    width: 760px;
    margin: 0 auto;
}

.content.join div .get-involved {
    display: inline-block;
    padding-right: 40px;
    width: 49%;
    min-width: 300px;
    vertical-align: top;
}

@media (max-width: 576px) {
    .content.join > div {
        width: 85% !important; 
    }
    .content.join div .get-involved {
        display: block;
        width: 100% !important;
        vertical-align: top;
    }
}

.content.join .section-header {
    margin-bottom: 55px;
    background: repeating-linear-gradient(
            45deg,
            #5F688D,
            #5F688D 10px,
            #4a4e6c 10px,
            #4a4e6c 20px
    );
    text-align: center;
    width: 93%;
}

.content.join:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.get-involved {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.get-involved > div {
    margin-bottom: 2.5em;
}

.get-involved > div > h4 {
    margin-bottom: 20px;
}

.get-involved > div > p {
    margin-bottom: 2em;
}

.get-involved > div > a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    padding: 11px 30px;
    color: #fff;
}

.get-involved #hack a {
    border: 2px solid #FB627A;
}

.get-involved #hackbutton:hover {
    background-color: #FB627A;
}

.get-involved #mentor a {
    border: 2px solid #9079F2;
}

.get-involved #mentorbutton:hover {
    background-color: #9079F2;
}

.get-involved #sponsor a {
    border: 2px solid #07CEC0;
}

.get-involved #sponsorbutton:hover {
    background-color: #07CEC0;
}

.get-involved #volunteer a {
    border: 2px solid #FFCE80;
}

.get-involved #volunteerbutton:hover {
    background-color: #FFCE80;
}

@media (max-width: 768px) {
    .content.join > div {
        width: 95%;
        margin: 0 auto;
    }
    .get-involved {
        min-width: 0 !important;
        display: inline-block;
        vertical-align: top;
        width: 48% !important;
    }
    .get-involved > div {
        margin-bottom: 2.5em;
    }

    .get-involved > div > h4 {
        margin-bottom: 20px;
    }

    .get-involved > div > p {
        margin-bottom: 2em;
    }
}

/*****
FAQ
*****/
.content.faq {
    background: #2a3b59;
    position: relative;
    z-index: 7;
}

.content.faq > div {
    width: 760px;
    margin: 0 auto;
}

.content.faq div .qa-column {
    display: inline-block;
    padding-right: 40px;
    width: 49%;
    min-width: 300px;
    vertical-align: top;
}

.content.faq .section-header {
    margin-bottom: 55px;
    color: #fff;
    background: repeating-linear-gradient(
            45deg,
            #42526C,
            #42526C 10px,
            #2a3b59 10px,
            #2a3b59 20px
    );
    text-align: center;
    width: 93%;
}

.content.faq:after {
     background: inherit;
     bottom: 0;
     content: '';
     display: block;
     height: 50%;
     left: 0;
     position: absolute;
     right: 0;
     transform: skewY(-2.5deg);
     transform-origin: 100%;
     z-index: -1;
 }

.qa-column {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

.qa-column > .qa {
    margin-bottom: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff !important;
    padding: 40px 30px;
    width: 100%;
}

.qa-column > .qa > h5 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
}

.qa-column > .qa > p {
    margin-bottom: 2em;
    font-size: 16px;
    line-height: 27px;
}

@media (max-width: 576px) {
    .content.faq > div {
        width: 85%; 
    }
    .content.faq div .qa-column {
        display: block;
        width: 100%;
        vertical-align: top;
        padding-right: 0;
    }
}

/*****
SCHEDULE
*****/

.content.schedule {
    background: #171f31;
    position: relative;
    z-index: 6;
}

.content.schedule > div {
    width: 760px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .content.schedule div {
        width: 85%; 
    }
}

.content.schedule .section-header {
    margin-bottom: 55px;
    background: repeating-linear-gradient(
            45deg,
            #344152,
            #344152 10px,
            #171f31 10px,
            #171f31 20px
    );
    text-align: center;
    width: 93%;
}

.content.schedule:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.schedule-table {
    font-size: 18px;
    /*border: 2px solid #fff;
    border-radius: 20px;*/
    position: relative;
    width: 100%;
}

/*****
TEAM
*****/
.content.team {
    background: #DEDAF2;
    position: relative;
    z-index: 5;
}

.content.team:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.content.team div {
  display: inline-block;
}

.content.team div > * {
    width: 760px;
    margin: 0 auto;
    color: #171f31;
}

@media (max-width: 768px) {
    .content.team div > * {
        width: 95%;
        margin: 0 auto;
        color: #171f31;
    }
}

@media (max-width: 576px) {
    .content.team div > * {
        width: 95%;
        margin: 0 auto;
        color: #171f31;
        text-align: center;
    }
}

.content.team .section-header {
    margin-bottom: 40px;
    background: repeating-linear-gradient(
            45deg,
            #E6E8FA,
            #E6E8FA 10px,
            #DEDAF2 10px,
            #DEDAF2 20px
    );
    text-align: center;
    width: 55%;
}

.bio .testimonial {
  font-size: 16px;
}

/*****
SPONSORS
*****/

.content.sponsors {
    background: rgb(226, 225, 235);
    position: relative;
    z-index: 4;
    color: rgb(58, 64, 91);
}

.content.sponsors > div {
    width: 760px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .content.sponsors > div {
        width: 85%; 
    }
}

.content.sponsors .section-header {
    margin-bottom: 55px;
}

.content.sponsors #desc {
    font-size: 19px;
    margin-bottom: 40px;
}

.content.sponsors #desc a {
    text-decoration: underline; 
}

.content.sponsors h5 {
  font-size: 32px;
}

.content.sponsors .logo {
  margin: 10px;
}

.content.sponsors > div > div {
  margin-bottom: 20px;
}

.content.sponsors > div > div a {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

#bronze img {
  height: 80px;
}

#silver img {
  height: 105px;
}

#gold img {
  height: 120px;
}

#platinum img {
  height: 140px;
}

#sponsors #tri8 {
    position: absolute;
    top: 0vh;
    left: -4.5vw;
}

#sponsors #tri9 {
    position: absolute;
    top: 5.8vh;
    left: 2.5vw;
}

#sponsors #link {
    background-image: linear-gradient(120deg, #E6E6FA 0%, #bba3d0 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    text-decoration: none;
    color: #2a3b59;
}

#sponsors #link:hover {
     background-size: 100% 88%;
 }
/*
.content.sponsors:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}
*/

div.pfp-container{
  background-image:url(http://placekitten.com/g/200/400);
/* make it responsive */
max-width: 100%;
width:100% !important;
height:auto !important;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* make it a circle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimension to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.pfp-container img {
  display: none;
}


